APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_REALTIME_ENDPOINT=wss://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_NAME="Simple Todo"
APPWRITE_PROJECT_ID=YOUR_APPWRITE_PROJECT_ID
APPWRITE_DATABASE_ID=YOUR_APPWRITE_DATABASE_ID
APPWRITE_TODOS_COLLECTION_ID=todos
